
.photoholder {
    overflow: hidden;
    text-align: center;
    display: inline-block;
}
.photoholder img {
    max-height: 118px;
    max-width: 220px;
    vertical-align: middle;
}
a:link {color: #212121;}
a:visited {color: #000000;}
a:hover {color: #2e475b;}
a:active {color: #000000;}


html, img, ul {
    border: 0px;
    margin: 0px;
    padding: 0px;
}


/* Font Stuffs */
a:link, a:visited {
    color: #212121;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

a:link:hover, a:link:focus, a:link:active, a:visited:hover, a:visited:focus, a:visited:active {
    color: #a21702;
}

a.sub_types {
    font-weight: bold;
    font-size: 20px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

a.sub_types:link {color: #212121;}
a.sub_types:visited {color: #000000;}
a.sub_types:hover {color: #a9a9a9;}
a.sub_types:active {color: #000000;}

a.link_specials {
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
}

a.link_specials:link {color: #212121;}
a.link_specials:visited {color: #000000;}
a.link_specials:hover {color: #a9a9a9;}
a.link_specials:active {color: #000000;}

a.broken_frame_footer:link {color: #ffffff;}
a.broken_frame_footer:visited {color: #ffffff;}
a.broken_frame_footer:hover {color: #000000; text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}
a.broken_frame_footer:active {color: #ffffff;}

a.audio_releases_nav_item_bolding {
    font-weight: bold;
    font-size: 16px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

a.audio_releases_nav_item_bolding:link {color: #212121;}
a.audio_releases_nav_item_bolding:visited {color: #000000;}
a.audio_releases_nav_item_bolding:hover {color: #2e475b;}
a.audio_releases_nav_item_bolding:active {color: #000000;}

body {
    /*    font-family: GreyscaleBasicRegular, Helvetica, Arial, sans-serif; */
    border: 0px;
    margin: 0px;
    padding: 0px;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    background-color: #ffffff;
}

#brat_nav_container {
    position: relative;
    background-color: #212121;
    margin: 0px auto;
    display: block;
    padding: 20px;
    z-index: 100;
    -webkit-box-shadow: 0 -2px 10px rgba(33, 33, 33, 0.75);
    -moz-box-shadow: 0 -2px 10px rgba(33, 33, 33, 0.75);
    box-shadow: 0 -2px 10px rgba(33, 33, 33, 0.75);
}

#brat_nav {
    width: 960px;
    margin: 0px auto;
    padding: 15px 0px 25px 0px;
    font-family: 'GreyscaleBasicRegular', sans-serif;
    font-size: 16px;
    color: #eeeeee;
    text-transform: uppercase;
    /*	text-align: right;
        display: inline; */
}

#brat_nav ul {
    display: block;
}
#brat_nav li {
    list-style-type: none;
    display: inline;
}

#brat_nav li:active a.nav_a {
    border-bottom: 2px solid #a21702;
}

#brat_nav a.nav_a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.33333em;
    padding: 0px 0px 0px 10px;
}

#brat_nav a.nav_a:hover {
    color: #db0d0d;/* a21702 */
}

#brat_nav li:active a.nav_a_left {
    border-bottom: 2px solid #a21702;
}

#brat_nav a.nav_a_left {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.33333em;
    text-align: left;
}

#brat_nav a.nav_a_left:hover {
    color: #a21702;
}

#top_splash_container {
    position: relative;
    margin: 0px auto;
    display: block;
    width: 100%;
    padding: 0;
    z-index: 100;
    width: 960px;
}

#top_splash {
    z-index: 1;
    width: 960px;
    height: 500px;
    margin: 0px auto;
    padding: 10px 0px 0px 0px;
    font-family: 'GreyscaleBasicRegular', sans-serif;
    font-size: 32px;
    color: #eeeeee;
    text-transform: uppercase;
    text-align: left;
    display: block;
}

#top_splash_box_container {
    position: relative;
    margin: 60px auto 0px;
    display: block;
    width: 100%;
    z-index: 100;
    width: 960px;
    padding: 10px 0px 0px 0px;
    font-family: 'GreyscaleBasicRegular', sans-serif;
    font-size: 32px;
    color: #eeeeee;
    text-transform: uppercase;
    text-align: left;
}

#top_splash_box {
    background-color: #212121;
    color: #ffffff;
    padding: 0.25em 0.15em 0;
    display: inline-block;
    clear: both;
}

#sub_nav_splash_box {
    font-size: 14px;
    color: #212121;
}

#sub_nav_splash_box ul {
    display: block;
}
#sub_nav_splash_box li {
    list-style-type: none;
    display: inline;
}

#sub_nav_splash_box li:active a.subnav_a {
    border-bottom: 2px solid #a21702;
}

#sub_nav_splash_box a.subnav_a {
    display: inline-block;
    text-decoration: none;
    background-color: #ebebeb;
    color: #212121;
    padding: 0.25em 0.15em 0;
    font-size: 14px;
    line-height: 1.33333em;
}

#sub_nav_splash_box a.subnav_a:hover {
    color: #a21702;
}


#body_content_container {
    position: relative;
    background-color: #ffffff;
    margin: 0px auto;
    display: block;
    width: 100%;
    padding: 0;
    z-index: 100;
    width: 960px;
}

#body_content {
    margin: 0px auto;
    padding: 10px 0px 0px 0px;
    /* font-family: 'GreyscaleBasicRegular', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #212121;
    text-align: left;
    width: 960px;
}

#audio_releases_list_container {
    width: 960px;
    margin: 0px auto;
}

#mainPic {
    display: block;
    margin: 0px auto 50px;
    border-radius: 200px;
    height: 400px;
    border: 1px solid #efefef;
}



.audio_releases_list_letter {
    width: 300px;
    margin: 5px 0px 5px 0px;
    padding: 5px;
    /*	float: left; */
    overflow: hidden;
}

.audio_releases_list_tri-block {
    width: 320px;
    height: auto;
    float: left;
}

.audio_title {
    font-size: 24px;
}

.audio_releases_main_song_container {
    position: relative;
    display: block;
    padding: 0px 0px 20px 0px;
}

.audio_releases_main_song_art {
    width: 300px;
    height: 300px;
    float: left;
    display: block;
    border: 1px solid #a9a9a9;
}

.audio_releases_main_song_art img {
    width: 300px;
    height: 300px;
    /*	border: 1px solid #a9a9a9; */
}

.audio_releases_main_song_text {
    width: 610px;
    display: block;
    margin-left: 330px;
}

.audio_releases_main_song_text p {
}

.audio_releases_individual_song_art {
    width: 150px;
    height: 150px;
    float: left;
    display: block;
    border: 1px solid #a9a9a9;
}

.audio_releases_individual_song_art img {
    width: 150px;
    height: 150px;
    /*	border: 1px solid #a9a9a9; */
}

.audio_releases_individual_song_text {
    width: 780px;
    display: block;
    margin-left: 180px;
}

.audio_releases_individual_song_text p {
}

.lyrics_individual_song_container {
    position: relative;
    display: block;
    padding: 0px 0px 20px 0px;
}

.lyrics_individual_song_art {
    width: 300px;
    height: 300px;
    float: left;
    display: block;
    border: 1px solid #a9a9a9;
}

.lyrics_individual_song_art img {
    width: 300px;
    height: 300px;
    border: 1px solid #a9a9a9;
}

.lyrics_individual_song_text {
    width: 660px;
    display: block;
    margin-left: 330px;
}

.lyrics_individual_song_text p {
}

#past_tours_list_container {
    width: 960px;
    margin: 0px auto;
}

#past_tours_list_container a img {
    width: 225px;
    height: 300px;
    border: 1px solid #a9a9a9;
    margin: 0px 17px 17px 0px;
    float: left;
}

#past_tours_list_container a:nth-child(4n) {
    width: 225px;
    height: 300px;
    border: 0px solid #a9a9a9;
    margin: 0px 0px 17px 0px;
    float: left;
}

.the_bottom_line {
    width: 750px;
    height: 100px;
}

.font_20 {
    font-size: 20px;
}

.the_spacer {
    height: 30px;
    width: 30px;
    clear: both;
}

/*.past_tour_index_icons {
	width: 300px;
	height: 400px;
	border: 1px solid #a9a9a9;
	margin: 0px 27px 18px 0px;
	float: left;
}

.past_tour_index_icons:nth-child(3n+3) {
	width: 300px;
	height: 400px;
	border: 1px solid #a9a9a9;
	margin: 0px 0px 18px 0px;
	float: left;
}*/

.tour_name {
    font-size: 24px;
}

.tour_table {
    border: 0px;
}

/*.tour_table tr:nth-child(2n+2) {
	background-color: #F5F5F5;
} */


.tour_date_display {
    font-weight: bold;
    width: 240px;
    padding: 0px 15px 5px 0px;
    vertical-align: top;
    text-align: left;
}

.tour_venue_display {
    width: 240px;
    padding: 0px 15px 5px 0px;
    vertical-align: top;
    text-align: left;
}

.tour_ticket {
    width: 225px;
    padding: 0px 15px 5px 0px;
    vertical-align: top;
    text-align: right;
}

.tour_poster {
    width: 210px;
    padding: 0px 0px 5px 0px;
    vertical-align: top;
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
}

#images_wallpaper_container {
    width: 960px;
    margin: 0px auto;
}


.images_wallpaper_individual {
    width: 188px;
    height: 105px;
    display: block;
    float: left;
    margin: 1px;
    border: 1px solid #000000;
}



#video_musicvideos_container {
    width: 960px;
    margin: 0px auto;
}

#video_musicvideos_container_nav {
    width: 960px;
    margin: 0px auto;
}

.video_musicvideos_box {
    width: 160px;
    height: 150px;
    display: block;
    float: left;
    padding: 0px 40px 32px 0px;
}

.video_musicvideos_box:nth-child(5n) {
    width: 160px;
    height: 150px;
    display: block;
    float: left;
    padding: 0px 0px 32px 0px;
}

.video_musicvideos_still {
    background-color: #000000;
    width: 160px;
    height: 120px;
    display: block;
    overflow: hidden;
}

.video_musicvideos_icons {
    margin-top: 0px;
}

.video_musicvideos_text {
    text-align: center;
    margin: 0px auto;
    font-size: 12px;
    font-weight: bold;
}

.video_musicvideos_additional_text {
    text-align: center;
    margin: 0px auto;
    font-size: 12px;
    font-weight: normal;
}

#video_musicvideos_container {
    width: 960px;
    padding: 0px;
    margin: 0px;
}

#video_container {
    background-color: #000000;
    display: block;
}

.video_title {
    font-size: 24px;
}

#discography_albums_container {
    width: 960px;
    margin: 0px auto;
}

.discography_albums_box {
    width: 152px;
    height: 150px;
    display: block;
    float: left;
    padding: 0px 40px 50px 0px;
    overflow: hidden;
}

.discography_albums_thumbnail {
    width: 150px;
    height: 150px;
    display: block;
}

.discography_albums_text {
    text-align: center;
    margin: 0px auto;
    font-size: 12px;
    font-weight: bold;
}

#discography_singles_container {
    width: 960px;
    margin: 0px auto;
}

#discography_home_videos_container {
    width: 960px;
    margin: 0px auto;
}

#discography_albums_container {
    width: 960px;
    margin: 0px auto;
}

.discography_singles_box {
    width: 152px;
    height: 150px;
    display: block;
    float: left;
    padding: 0px 40px 50px 0px;
    overflow: hidden;
}

.discography_singles_thumbnail {
    width: 150px;
    height: 150px;
    display: block;
}

.discography_singles_text {
    text-align: center;
    margin: 0px auto;
    font-size: 12px;
    font-weight: bold;
}

.discography_individual_song_container {
    position: relative;
    display: block;
    padding: 0px 0px 20px 0px;
}

.discography_cover_art {
    width: 300px;
    height: 300px;
    float: left;
    display: block;
    border: 1px solid #a9a9a9;
}

.discography_cover_art img {
    width: 300px;
    height: 300px;
    border: 0px;
}

.discography_notes_text {
    width: 660px;
    display: block;
    margin-left: 330px;
}

.discography_notes_text p {
}

.dm_history_dates_container {
    position: relative;
    display: block;
    float: left;
    width: 320px;
    padding: 0px 0px 20px 0px;
}

.dm_history_dates_art {
    width: 160px;
    height: 160px;
    float: left;
    display: block;
}

/* .dm_history_dates_art img {
	width: 25%;
	height: 25%;
	border: 1px solid #a9a9a9;
} */

.dm_history_dates_text {
    width: 150px;
    display: block;
    margin-left: 170px;
}

#footer_1 {
    margin: 0px auto;
    width: 960px;
    height: 99px;
    /*	background-image:url('/gr/footer_top.jpg');*/
}

#footer_2 {
    position: relative;
    margin: 0px auto;
    display: block;
    z-index: 100;
    background-color:#000000;
}

#footer_2 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-align: right;
    text-shadow: 0px 0px 4px #000000, 2px 2px 2px #111111;
    padding: 0px 14px 0px 0px;
}

#footer_2a {
    width: 960px;
    margin: 0px auto;
    height: 350px;
    /*	background-image:url('/gr/footer_bottom_crop.png');
        background-repeat: no-repeat;*/
}

#below_footer {
    position: relative;
    margin: 0px auto;
    display: block;
    z-index: 100;
    background-color:#000000;
}

#below_footer_black {
    height: 0px;
}

/* TOUR STUFF */
/* TOUR STUFF */
/* TOUR STUFF */

.tour_name {
    font-size: 24px;
}

.tour_table {
    border-bottom: 1px solid #eaeaea;
    margin: 0px 0px 10px 0px;
    padding: 5px;
    width: 960px;
}


.tour_date_display {
    font-weight: bold;
    width: 300px;
    padding: 0px 15px 5px 0px;
    vertical-align: top;
    text-align: left;
    float: left;
}

.tour_venue_display {
    width: 300px;
    padding: 0px 15px 5px 0px;
    vertical-align: top;
    text-align: left;
    float: left;
}

.tour_ticket {
    width: 165px;
    padding: 0px 15px 5px 0px;
    vertical-align: top;
    text-align: right;
    float: left;
}

.tour_ticket_no {
    width: 165px;
    padding: 0px 15px 5px 0px;
    vertical-align: top;
    text-align: right;
    float: left;
    color: #a9a9a9;
}

.tour_poster {
    width: 150px;
    padding: 0px 0px 5px 0px;
    vertical-align: top;
    text-align: right;
    float: left;
}

.tour_poster_no {
    width: 150px;
    padding: 0px 0px 5px 0px;
    vertical-align: top;
    text-align: right;
    float: left;
    color: #a9a9a9;
}

.tour_notes_other {
    /*	border-top: 1px solid #eaeaea; */
    padding: 10px 0px 10px 0px;
    font-size: 12px;
    display: inline;
    /*	background-color: #eaeaea; */
}

.tour_headers {
    margin: 0px auto;
    text-align: center;
    width: 700px;
    padding: 40px 0px 40px 0px;
}

.blog_images_p a img {
    padding: 20px;
}

.blog_title {
    font-size: 22px;
}

.tour_setlist_songs {
    font-family: Helvetica, sans-serif;
    font-size: 24px; /*38px;*/
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}

.tour_setlist_base {
    width: 480px; /*650px;*/
    text-align: left;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #a9a9a9;
    display: none;
}

.bong_magazine_box {
    width: 180px;
    height: 300px;
    display: block;
    float: left;
    padding: 0px 4px 5px 0px;
    overflow: hidden;
}

.bong_magazine_thumbnail {
    width: 180px;
    height: 254px;
    display: block;
}

.bong_magazine_text {
    text-align: center;
    margin: 0px auto;
    font-size: 12px;
    font-weight: bold;
}

.tv_video_still {
    width: 160px
    height: 120px;
    overflow: hidden;
}

.tv_video_still_youtube {
    width: 160px
    height: 120px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
